#pt1 {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
}
#pt2 {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
}
#pt3 {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
}

#square1 {
    height: 400px;
    width: 400px;
    background-color: #0087FF;
    display: inline-block;
}
#square2 {
    height: 400px;
    width: 400px;
    background-color: #1900FF;
    display: inline-block;
}
#square3 {
    height: 400px;
    width: 400px;
    background-color: #0087FF;
    display: inline-block;
}
